<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/head.njk' %}
  </head>
  <body>

      {% include 'partials/header.njk' %}


    {% block body %}
      <main>
        {% block mainContent %}
          <div class="content">
            <div class="content-measure">
              {{ content | safe }}
            </div>
          </div>
        {% endblock %}
      </main>
    {% endblock %}

    <footer>
      <div class="content-measure">
       Thanks for stopping by
      </div>
    </footer>
    <script type="module">
      function isHostMethod(object, method) {
        var objectMethod = object[method];
        var type = typeof objectMethod;
        return type == 'function' || type == 'object' && null !== objectMethod || type == 'unknown';
      }

      function isHostObjectProperty(object, property) {
        var objectProperty = object[property];
        return typeof objectProperty == 'object' || typeof objectProperty == 'function' && null !== objectProperty;
      }

      if(!isHostMethod(document.documentElement, 'addEventListener') ||!isHostObjectProperty(window, 'navigator') || !isHostObjectProperty(navigator, 'clipboard') ||
        isHostMethod(navigator.clipboard, 'writeText') || !isHostMethod(document.documentElement, 'querySelector')
      ) {
        var copyButton = document.createElement('button');
        copyButton.type = "button";
        copyButton.className = "app-copy-button";
        copyButton.innerHTML = '<span class="app-copy_button__text">Copy</span> <span class="app-visually-hidden">email address</span>';
        copyButton.addEventListener('click', e => {
          navigator.clipboard.writeText('hello@wearefrankly.co').then(function() {
            copyButton.querySelector('.app-copy_button__text').innerHTML = "Copied";
            window.setTimeout(() => {
              copyButton.querySelector('.app-copy_button__text').innerHTML = "Copy";
            }, 3000);
          });
        }, false);
        document.querySelector('.app-copy').appendChild(copyButton);
      }
    </script>
  </body>
</html>
