<header class="header">
      <div class="content-measure">
          <a class="logo" href="/">frankly.</a>
      </div>
    <nav class="content-measure header-nav">
    <a href="/training" >Training</a>
    <a href="/case-studies">Case Studies</a>
    <a href="/contact">Contact</a>
    </nav>
</header>
