<nav class="content-measure header-nav">

    <a class="{% if id == "training" %}nav-active{% endif%}" href="/training/">Training</a>

    <a class="{% if id == "case-studies" %}nav-active{% endif%}" href="/case-studies/">Case Studies</a>

    <a class="{% if id == "contact" %}nav-active{% endif%}" href="/contact/">Contact</a>

</nav>