<div class="article-signUp">
    <h2>Sign up to Good Design</h2>
    <p>I’ll email you once a month on nailing the basics, avoiding complexity and making things that work for everyone.</p>
  {{subscribeForm({ url: page.url })}}
</div>
