@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Italic.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-BoldItalic.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
