---
permalink: /
---

{% extends 'layouts/base.njk' %}

{% block mainContent %}

  <h1 class="app-visually-hidden">We are Frankly</h1>

  <div class="content">
    <div class="content-measure">
      <p class="lede">We help teams create clear, accessible and straightforward digital products that put users at their&nbsp;heart.</p>

      <h2>What we do</h2>
      <p>We specialise in user interface design, content design, web accessibility, and design&nbsp;systems.</p>

      <p>Whether you’re a small business, a charity, or a large organisation, if you need help with one of these areas, we’d love to work with&nbsp;you.</p>

      <h3>Web design and development</h3>
      <p>Content, design and technology are inseparable parts of the user experience. By creating them together, we can deliver high-quality and relevant digital&nbsp;products.</p>

        <p>With a sharp focus on your business’s goals and your users’ needs, we’ll create you a simple, responsive and accessible website to help you meet&nbsp;them.</p>
      <h3>Website reviews</h3>
      <p>We’ll review your website and provide recommendations on how it can better meet the needs of your users and your&nbsp;business.</p>

        <p>We’ll give specific suggestions on how you can make your content clearer and more user-driven and your design more usable, performant and accessible to&nbsp;everyone.</p>

          <p>If you need us to make the improvements we suggest, we can do that for you,&nbsp;too.</p>
      <h3>Content and interaction design</h3>
      <p>Whether you’re looking to improve an existing product or create a new one, we’re available for short-term content and UI design&nbsp;projects.</p>

        <p>We design interactions that are logical and usable, and content that’s findable, clear, and delivers genuine value to your&nbsp;users.</p>
      <h3>Design systems coaching</h3>
      <p>We’ve worked on design systems for a number of teams including GOV.UK, the Ministry of Justice and Babylon&nbsp;Health.</p>

        <p>Between us, we’ve delivered conference talks, spoken on podcasts and written articles and books on the topic of design systems and&nbsp;patterns.</p>

          <p>If you need advice on setting up a new design system, reinvigorating an existing one, or dealing with a thorny design systems challenge, we offer coaching sessions to support you through the&nbsp;process.</p>
      <h3>Can’t find what you need?</h3>
      <p>If you need help with something we haven’t mentioned, let us know. We’re happy to&nbsp;chat.</p>

        <p>Even if we can’t help you, we’re pretty well-connected. We’ll try to put you in touch with someone brilliant, who&nbsp;can.</p>
<h2>Who we’ve worked with</h2>
<p>We’ve earned our stripes working on digital products and design systems for some of the very best organisations and teams&nbsp;including:</p>

<ul>
  <li>Government Digital Service</li>
    <li>Ministry of Justice</li>
      <li>The Financial Times</li>
        <li>T-Mobile</li>
          <li>Just Eat</li>
            <li>Tesco</li>
              <li>Selfridges</li>
                <li>Babylon Health</li>
                  <li>Which?</li>
                </ul>
<h2>Our ethos</h2>
<p>To be “frank” means to be open, honest and&nbsp;direct.</p>

  <p>If you’re looking for visionaries, revolutionaries, innovators, disrupters, trailblazers, groundbreakers, trend setters, game changers, troublemakers, shaker uppers, fast movers and thing breakers, we’re probably not for&nbsp;you.</p>

    <p>Frankly is not just our name, it’s how we&nbsp;operate.</p>

      <p>We think the web should be simple, straightforward and open to&nbsp;everyone.</p>

        <p>We remove complexity wherever we can, aiming for clarity and usability above all&nbsp;else.</p>

          <p>We prioritise projects that make a positive difference to people’s&nbsp;lives.</p>

            <p>We strive to be fair, inclusive and socially-responsible in the work we&nbsp;do.</p>
<h2>Let’s talk</h2>
<p>If you’re interested in the support we offer, we’d love to&nbsp;chat.</p>
  <p class="">Email us at <a href="mailto:hello@wearefrankly.co">hello@wearefrankly.co</a><span class="app-copy"></span></p>
    </div>
  </div>

  <div class="profiles">
    <div class="profiles__inner">
      <div class="profiles__panel profiles__panel--first" id="amy">
        <div class="profile__photo">
          <img src="/assets/images/amy.jpg" alt="A photo of Amy hupe">
          <div class="profile__photo-text">
            <div class="profile__photo-title">Amy Hupe</div>
            <div class="profile__photo-description">Content designer and design systems expert</div>
          </div>
        </div>
        <p>Hi, I’m Amy. I’m the brains behind this operation ;)</p>
        <p>I spent 3 years as content lead for the GOV.‌UK Design System. Right now, I’m contracting as product manager for the design system at Babylon&nbsp;Health.</p>
        <p>I’ve also worked as researcher, writer and editor at consumer charity Which?, producing content on everything from compost to&nbsp;conveyancing.</p>
        <p>I care about making services accessible and inclusive, starting with the basics – the words we use to&nbsp;talk about them.</p>
        <p><a href="https://amyhupe.co.uk">Visit Amy’s blog</a></p>
      </div>
      <div class="profiles__panel profiles__panel--second" id="adam">
        <div class="profile__photo">
          <img src="/assets/images/adam.jpg" alt="A photo of Adam Silver">
          <div class="profile__photo-text">
            <div class="profile__photo-title">Adam Silver</div>
            <div class="profile__photo-description">Interaction designer and forms expert</div>
          </div>
        </div>
        <p>Hey, I’m Adam.</p>
        <p>I’ve been designing and building digital products for 20 years for the likes of Tesco, BBC, Just Eat, Selfridges and The Financial Times. Most recently I’ve been helping government design services that are useful, usable and&nbsp;accessible.</p>
        <p>I wrote a book on <a href="https://www.smashingmagazine.com/printed-books/form-design-patterns/">form design patterns</a>, published by Smashing&nbsp;Magazine.</p>
        <p>My mission is to create truly simple and inclusive interfaces and interactions that nail the basics, avoid complexity and solve real user&nbsp;problems.</p>
        <p><a href="https://adamsilver.io">Visit Adam’s blog</a></p>
      </div>
    </div>
  </div>
{% endblock %}
