---
permalink: /
---

{% extends 'layouts/base.njk' %}

{% block mainContent %}

  <h1 class="app-visually-hidden">Frankly</h1>

  <div class="content">
    <div class="content-measure">
      
      <p class="lede">Helping teams create clear, accessible and straightforward digital products that put users at their&nbsp;heart.</p>

      <h2>About Frankly</h2>

      <p>Frankly was founded in 2020 by content design and design systems consultant, <a href="https://amyhupe.co.uk/">Amy Hupe</a>.</p>
      
      <p>Through Frankly, Amy partners with trusted organisations and freelancers to provide a rounded and reliable service.</p>

       <h2>What we do</h2>

<p>We specialise in content design, content strategy, and design systems.</p>

      <p>Whether you’re a small business, a charity, or a large organisation, if you need help with one of these areas, we’d love to work with&nbsp;you.</p>

        <h3>Content design</h3>
      
          <p>Whether you’re looking to improve an existing product or create a new one, we’re available for short-term content design projects.</p>

          <p>We design content that’s findable, clear, and delivers genuine value to your users.</p>
      
        <h3>Design systems consultancy</h3>
      
          <p>We’ve worked on design systems for a number of teams including GOV.UK, the BT Group, Springer Nature Ltd and Babylon Health.</p>

          <p>We’ve delivered conference talks, spoken on podcasts and written articles on the subject of design systems and&nbsp;patterns.</p>

          <p>If you need advice on setting up a new design system, reinvigorating an existing one, or dealing with a thorny design systems challenge, we offer consultancy and coaching sessions to support you through the&nbsp;process.</p>
      
        <h3>Can’t find what you need?</h3>
          
          <p>If you need help with something we haven’t mentioned, let us know. We’re happy to&nbsp;chat.</p>

          <p>Even if we can’t help you, we’re pretty well-connected. We’ll try to put you in touch with someone brilliant, who&nbsp;can.</p>

        <h2>Who we’ve worked with</h2>

          <p>We’ve earned our stripes working on digital products and design systems for some of the very best organisations and teams&nbsp;including:</p>

            <ul>
              <li>Government Digital Service</li>
              <li>Springer Nature Ltd</li>
              <li>NHS</li>
              <li>Babylon Health</li>
              <li>Which?</li>
            </ul>

        <h2>Our ethos</h2>

          <p>To be “frank” means to be open, honest and&nbsp;direct.</p>

          <p>If you’re looking for visionaries, revolutionaries, innovators, disrupters, trailblazers, groundbreakers, trend setters, game changers, troublemakers, shaker uppers, fast movers and thing breakers, we’re probably not for&nbsp;you.</p>

          <p>Frankly is not just our name, it’s how we&nbsp;operate.</p>

          <p>We think the web should be simple, straightforward and open to&nbsp;everyone.</p>

          <p>We remove complexity wherever we can, aiming for clarity and usability above all&nbsp;else.</p>

          <p>We prioritise projects that make a positive difference to people’s&nbsp;lives.</p>

          <p>We strive to be fair, inclusive and socially-responsible in the work we&nbsp;do.</p>

        <h2>Let’s talk</h2>
          
          <p>If you’re interested in the support we offer, we’d love to&nbsp;chat.</p>

          <p class="">Email us at <a href="mailto:hello@wearefrankly.co">hello@wearefrankly.co</a><span class="app-copy"></span></p>
    
        </div>
  </div>
{% endblock %}
